.home{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    position:absolute;

  left: 50%;

  top: 50%;

  margin-left: -170px;

  margin-top: -50px;
}